
@import "./hazards";

/**
 * All the styles for the admin side will be compiled from this file.
 * Declare all your scss imports here.
 */

.hidden-block {
    $hidden-color: rgba(#0d6efd, 0.5);
    border: 1px solid $hidden-color !important;
    background:
        linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), $hidden-color 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), $hidden-color 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%);


    &::before {
        background-color: $hidden-color !important;
        padding: 0 5px;
        color: #fff;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        content: "Hidden" !important;
    }

    >* {
        opacity: 50%;
    }
}

.wp-block-post-excerpt {

    >.wp-block-post-excerpt__more-text {
        display: none;
    }
}

// Remove unnecessary padding added to blocks in editor.
.block-editor-block-list__layout {
    padding-bottom: 0 !important;
}

// Styles for displaying a hazard image in the wp-admin Hazard Types table.
.hazard-image-column {
    border-radius: 10px;
    max-width: 100%;
}

.region-group-checkbox-control {
    display: flex;

    >div {
        display: flex;
    }
}
