.event-query-loop {
    display: flex;
    flex-wrap: wrap;
    gap: var(--wp--preset--spacing--20);

    >li {
        // Force state of emergency card to be full width.
        &.hazard_type-provincial-state-of-emergency {
            min-width: 100%;
        }

        min-width: max(30%, 300px);
        flex-basis: 0;
        flex-grow: 1;

        .hazard-image {
            padding: 10px;

            img {
                max-height: 80px !important;
            }
        }
    }

    // Special case for displaying in 2 columns when there are 4 event cards.
    :first-child:nth-last-child(4),
    :first-child:nth-last-child(4) ~ li {
        min-width: max(45%, 300px);
    }

    // Fix for small screen sizes where the 300px min-width above is too wide.
    @include media-breakpoint-down(sm) {

        >li {
            min-width: 100%;
        }
    }
}
