@mixin hazard-styles($primaryColor, $secondaryColor, $important: "") {

    .hazard-text {
        color: $primaryColor #{$important};

        i {
            color: $primaryColor !important;
        }
    }

    .hazard-border {
        border-color: $primaryColor #{$important};
    }

    .hazard-background {
        background-color: $primaryColor #{$important};
    }

    .hazard-background-secondary {
        background-color: $secondaryColor #{$important};
    }
}

@mixin hazard-image() {
    width: fit-content;
    border-radius: 50%;
    padding: 1rem !important;

    img {
        max-height: 131px;
    }

    figure {
        margin: 0;
    }
}

// Set colors for Emergency Alert blocks.
.emergency-alert {
    $primaryColor: var(--wp--preset--color--hazard-emergency-alert);
    $secondaryColor: var(--wp--preset--color--hazard-emergency-alert-secondary);

    // Requires !important to override the main hazard style for the event.
    @include hazard-styles($primaryColor, $secondaryColor, !important);
}

// Set colors for when an event is no longer active.
.inactive {
    $inactiveHazardColor: var(--wp--preset--color--hazard-inactive);
    $inactiveHazardSecondaryColor: var(--wp--preset--color--hazard-inactive-secondary);

    @include hazard-styles($inactiveHazardColor, $inactiveHazardSecondaryColor);

    // Set colors for inactive Emergency Alert blocks.
    .emergency-alert {
        $primaryColor: var(--wp--preset--color--hazard-inactive);
        $secondaryColor: var(--wp--preset--color--hazard-inactive-secondary);

        // Requires !important to override the main hazard style for the event.
        @include hazard-styles($primaryColor, $secondaryColor, !important);
    }
}

.hazard-image {

    @include hazard-image();
}

.hazard-image-preview.acf-field-image {

    img {

        @include hazard-image();
        background-color: #000 !important;
    }
}

// Force amber alert images to maintain a square aspect ratio.
.amber-alert-image img {
    aspect-ratio: 1/1 !important;
}

// Cards that appear on aggregated events.
.aggregated-card {

    .hazard-image {
        padding: 7px;

        img {
            max-height: 34px;
        }
    }
}
