@mixin hazard-styles($primaryColor, $secondaryColor) {

    .hazard-text {
        color: $primaryColor;

        i {
            color: $primaryColor !important;
        }
    }

    .hazard-border {
        border-color: $primaryColor;
    }

    .hazard-background {
        background-color: $primaryColor;
    }

    .hazard-background-secondary {
        background-color: $secondaryColor;
    }
}

// Create classes with correct colors for each hazard type.
$hazards:
    "amber-alert",
    "avalanche",
    "disease-outbreak",
    "earthquake",
    "emergency-alert",
    "extreme-cold",
    "flood",
    "generic",
    "hazardous-material-spill",
    "heat",
    "landslide",
    "power-outage",
    "severe-weather",
    "tsunami",
    "wildfire";

@each $hazard in $hazards {
    .hazard_type-#{$hazard}:not(.inactive) {
        $primaryColor: var(--wp--preset--color--hazard-#{$hazard});
        $secondaryColor: var(--wp--preset--color--hazard-#{$hazard}-secondary);

        @include hazard-styles($primaryColor, $secondaryColor);
    }
}

// Set colors for when an event is no longer active.
.inactive {
    $inactiveHazardColor: var(--wp--preset--color--hazard-inactive);
    $inactiveHazardSecondaryColor: var(--wp--preset--color--hazard-inactive-secondary);

    @include hazard-styles($inactiveHazardColor, $inactiveHazardSecondaryColor);

    // Requires !important for editor to override Bootstrap colors.
    .status-alert {
        color: var(--wp--preset--color--primary-brand) !important;
        background-color: #e0e2e3 !important;
        border-color: $inactiveHazardSecondaryColor !important;
    }
}

.hazard-image {
    width: fit-content;
    border-radius: 50%;
    padding: 1rem;

    img {
        max-height: 131px;
    }

    figure {
        margin: 0;
    }
}

// Fix awkward spacing between lead in text and MFB status block.
.status-alert {

    .mfb-status {
        margin-left: -4px !important;
    }
}

// Force amber alert images to maintain a square aspect ratio.
.amber-alert-image img {
    aspect-ratio: 1/1 !important;
}

// Cards that appear on aggregated events.
.aggregated-card {

    .hazard-image {
        padding: 7px;

        img {
            max-height: 34px;
        }
    }
}
