@mixin hazard-styles($primaryColor, $secondaryColor, $important: "") {

    .hazard-text {
        color: $primaryColor #{$important};

        i {
            color: $primaryColor !important;
        }
    }

    .hazard-border {
        border-color: $primaryColor #{$important};
    }

    .hazard-background {
        background-color: $primaryColor #{$important};
    }

    .hazard-background-secondary {
        background-color: $secondaryColor #{$important};
    }
}

// Create classes with correct colors for each hazard type.
$hazards:
    "amber-alert",
    "avalanche",
    "disease-outbreak",
    "earthquake",
    "emergency-alert",
    "extreme-cold",
    "flood",
    "generic",
    "hazardous-material-spill",
    "heat",
    "landslide",
    "power-outage",
    "severe-weather",
    "tsunami",
    "wildfire";

@each $hazard in $hazards {
    .hazard_type-#{$hazard}:not(.inactive) {
        $primaryColor: var(--wp--preset--color--hazard-#{$hazard});
        $secondaryColor: var(--wp--preset--color--hazard-#{$hazard}-secondary);

        @include hazard-styles($primaryColor, $secondaryColor);
    }
}

// Set colors for Emergency Alert blocks.
.emergency-alert {
    $primaryColor: var(--wp--preset--color--hazard-emergency-alert);
    $secondaryColor: var(--wp--preset--color--hazard-emergency-alert-secondary);

    // Requires !important to override the main hazard style for the event.
    @include hazard-styles($primaryColor, $secondaryColor, !important);
}

// Set colors for when an event is no longer active.
.inactive {
    $inactiveHazardColor: var(--wp--preset--color--hazard-inactive);
    $inactiveHazardSecondaryColor: var(--wp--preset--color--hazard-inactive-secondary);

    @include hazard-styles($inactiveHazardColor, $inactiveHazardSecondaryColor);

    // Show status alert banner when event is inactive..
    .status-alert {
        display: block;
        color: var(--wp--preset--color--primary-brand);
        background-color: #e0e2e3;
        border-color: $inactiveHazardSecondaryColor;
    }

    // Set colors for inactive Emergency Alert blocks.
    .emergency-alert {
        $primaryColor: var(--wp--preset--color--hazard-inactive);
        $secondaryColor: var(--wp--preset--color--hazard-inactive-secondary);

        // Requires !important to override the main hazard style for the event.
        @include hazard-styles($primaryColor, $secondaryColor, !important);
    }
}

.hazard-image {
    width: fit-content;
    border-radius: 50%;
    padding: 1rem;

    img {
        max-height: 131px;
    }

    figure {
        margin: 0;
    }
}

// Fix awkward spacing between lead in text and MFB status block.
.status-alert {
    // Hide status alert banner by default, only show when event is inactive.
    display: none;

    .mfb-status {
        margin-left: -4px !important;
    }
}

// Force amber alert images to maintain a square aspect ratio.
.amber-alert-image img {
    aspect-ratio: 1/1 !important;
}

// Cards that appear on aggregated events.
.aggregated-card {

    .hazard-image {
        padding: 7px;

        img {
            max-height: 34px;
        }
    }
}
