/**
 * All the styles for the frontend side will be compiled from this file.
 * Declare all your scss imports here.
 */

@import "./bootstrap-theming";
@import "./hazards";
@import "./event-query-loop";

// Use the BC Sans font for all text.
body {
    font-family: BCSans, "Noto Sans", Verdana, Arial, sans-serif;
}

// Set outline when tabbing through pages to have better contrast.
:focus-visible {
    outline: currentcolor auto 1px;
}

:root .editor-styles-wrapper,
body.custom-eibc {

    /*
	 * theme.json spacing for padding, margin and gap.
	 */
    --wp--preset--spacing--20: 1rem;
    --wp--preset--spacing--30: 2rem;
    --wp--preset--spacing--40: 3rem;
    --wp--preset--spacing--50: 4rem;
    --wp--preset--spacing--60: 5rem;
    --wp--preset--spacing--70: 6rem;
    --wp--preset--spacing--80: 7rem;
}

.areoi-icon:not(.no-circle) {
    line-height: 1;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--wp--preset--color--support-gray-02);
    background-color: var(--wp--preset--color--support-gray-01);
}

// Three-card connected blocks that stack on mobile.
.three-card {

    @include media-breakpoint-down(md) {

        .col > div {
            border-radius: 10px;

            >div {
                border-left-style: none;
                border-right-style: none;
            }
        }
    }

    @include media-breakpoint-up(md) {

        .col {

            &:nth-child(1) {

                >div {
                    border-right-style: none;
                }
            }

            &:nth-child(2) {

                >div {
                    border-left-style: none;
                    border-right-style: none;
                }
            }

            &:nth-child(3) {

                >div {
                    border-left-style: none;
                }
            }
        }
    }
}

// Two-card connected blocks that stack on mobile.
.two-card {

    @include media-breakpoint-down(md) {

        .col > div {
            border-radius: 10px;

            >div {
                border-left-style: none;
                border-right-style: none;
            }
        }
    }

    @include media-breakpoint-up(md) {

        .col {

            &:nth-child(1) {

                >div {
                    border-right-style: none;
                }
            }

            &:nth-child(2) {

                >div {
                    border-left-style: none;
                }
            }
        }
    }
}

// Homepage
.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 70%;

    .twitter-timeline {
        width: 100% !important;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.emergency-map {

    img {
        border-radius: 10px;
    }
}

// Used mainly for Recommended Actions sections as there isn't a good set of icons for numbers.
p.areoi-icon:not(.no-circle) {
    font-size: 24px !important;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px 10px 15px;
}

.soft-shadow {
    box-shadow: 0 6px 8px rgba(200, 200, 222, 0.5);
}

// Emergency Alert
.collapse-button {
    border: none;

    &:hover {

        .btn {
            background-color: transparent;
        }
    }

    i {
        margin-left: 0 !important;
    }
}

// Heat
.warning-map {

    @include media-breakpoint-down(md) {

        img {
            border-radius: 10px;
        }
    }

    @include media-breakpoint-up(md) {

        .map-title {
            width: 50%;
        }

        img {
            width: inherit !important;
            left: auto !important;
            padding-right: 10% !important;
        }
    }
}

// Tsunami
.tsunami-zone-map {
    overflow: hidden;

    figure {

        @media (min-width: 601px) {
            border-right: solid 3px var(--wp--preset--color--support-gray-02);
        }

        @media (max-width: 600px) {
            border-bottom: solid 3px var(--wp--preset--color--support-gray-02);
        }

    }

    .wp-block-media-text__content {
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.know-your-zones {

    figure {
        height: 100%;
        margin-bottom: 0;
    }

    img {
        height: 100% !important;
        object-fit: cover;
    }
}

.bc-gov-alertbanner {
    align-items: center;
    font-size: 16px;
    padding: 0 2rem;

    .bi {
        font-size: 24px;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0;
        max-width: 1440px;
        display: flex;
        align-items: center;
        gap: 16px;

        .content {
            flex: 1 1 0%;
            display: flex;
            flex-wrap: wrap;
        }

        .dismiss {
            cursor: pointer;
        }
    }

    a {
        color: var(--wp--preset--color--white);
        font-weight: bold;

        &:hover {
            color: var(--wp--preset--color--white);
        }
    }

    p {
        margin: 0;
    }

}

.alert-emergency {
    color: var(--wp--preset--color--white);
    background-color: var(--wp--preset--color--support-red);
}

.hide {
    display: none;
}
