/**
 * All the styles for the frontend side will be compiled from this file.
 * Declare all your scss imports here.
 */

@import "./bootstrap-theming";
@import "./hazards";
@import "./event-query-loop";

:root .editor-styles-wrapper,
body.custom-eibc {

    /*
	 * theme.json spacing for padding, margin and gap.
	 */
    --wp--preset--spacing--20: 1rem;
    --wp--preset--spacing--30: 2rem;
    --wp--preset--spacing--40: 3rem;
    --wp--preset--spacing--50: 4rem;
    --wp--preset--spacing--60: 5rem;
    --wp--preset--spacing--70: 6rem;
    --wp--preset--spacing--80: 7rem;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 70%;

    .twitter-timeline {
        width: 100% !important;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.areoi-icon:not(.no-circle) {
    line-height: 1;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--wp--preset--color--support-gray-02);
    background-color: var(--wp--preset--color--support-gray-01);
}

// Used mainly for Recommended Actions sections as there isn't a good set of icons for numbers.
p.areoi-icon:not(.no-circle) {
    font-size: 24px !important;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px 10px 15px;
}

.soft-shadow {
    box-shadow: 0 6px 8px rgba(200, 200, 222, 0.5);
}

// Three-card connected blocks that stack on mobile.
.three-card {

    @include media-breakpoint-down(md) {

        .col > div {
            border-radius: 10px;

            > div {
                border-left-style: none;
                border-right-style: none;
            }
        }
    }

    @include media-breakpoint-up(md) {

        .col {

            &:nth-child(1) {

                >div {
                    border-right-style: none;
                }
            }

            &:nth-child(2) {

                >div {
                    border-left-style: none;
                    border-right-style: none;
                }
            }

            &:nth-child(3) {

                >div {
                    border-left-style: none;
                }
            }
        }
    }
}

// Two-card connected blocks that stack on mobile.
.two-card {

    @include media-breakpoint-down(md) {

        .col > div {
            border-radius: 10px;

            > div {
                border-left-style: none;
                border-right-style: none;
            }
        }
    }

    @include media-breakpoint-up(md) {

        .col {

            &:nth-child(1) {

                >div {
                    border-right-style: none;
                }
            }

            &:nth-child(2) {

                >div {
                    border-left-style: none;
                }
            }
        }
    }
}

.collapse-button {
    border: none;

    &:hover {

        .btn {
            background-color: transparent;
        }
    }

    i {
        margin-left: 0 !important;
    }
}

.warning-map {

    @include media-breakpoint-down(md) {

        img {
            border-radius: 10px;
        }
    }

    @include media-breakpoint-up(md) {

        .map-title {
            width: 50%;
        }

        img {
            width: inherit !important;
            left: auto !important;
            padding-right: 10% !important;
        }
    }
}
