$primary-blue: #036;
$light-blue: #3b99fc;
$grey: #606060;
$white: #fff;

.wp-block-emergency-info-subscribe-form {

    .checkbox {
        display: block !important;
    }

    .post-type-checkbox {
        font-weight: bold;
        font-size: 26px;
    }

    legend {
        font-weight: bold;
        font-size: 20px;
    }

    fieldset {
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 1px solid $grey;
    }

    &.is-style-bc-gov {
        font-family: BCSans, "Noto Sans", Verdana, Arial, sans-serif;

        /* Form and input styles */
        form {
            font-size: 18px;
        }

        .text_input {
            font-size: 18px;
            height: 34px;
            border: 2px solid $grey;
            margin-top: 5px;
            margin-bottom: 15px;
            border-radius: 4px;
            padding: 5px 5px 5px 7px;
        }

        .text_input[type="text"]:focus {
            outline: 4px solid $light-blue;
            outline-offset: 1px;
        }

        .text_label {
            display: flex;
        }

        /* Checkbox styles */

        /* Customize the label (the container) */
        .checkbox {
            display: block;
            position: relative;
            padding-left: 25px;
            margin-bottom: 12px;
            margin-left: 5px;
            cursor: pointer;
            font-size: 18px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .checkbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 3px;
            left: 0;
            height: 18px;
            width: 18px;
            outline: 2px solid $grey;
        }

        /* When the checkbox is checked, add a blue background */
        .checkbox input:checked ~ .checkmark {
            background-color: $grey;
        }

        /* Custom checkbox has blue outline when in focus */
        .checkbox input:focus ~ .checkmark {
            outline: 4px solid $light-blue;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark::after {
            content: "\2713";
            color: $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }

        /* Show the checkmark when checked */
        .checkbox input:checked ~ .checkmark::after {
            display: block;
        }

        /* Primary button */
        .BC-Gov-PrimaryButton {
            background-color: $primary-blue;
            border: none;
            border-radius: 4px;
            color: $white;
            padding: 12px 32px;
            text-align: center;
            text-decoration: none;
            display: block;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
            cursor: pointer;
        }

        .BC-Gov-PrimaryButton:hover {
            text-decoration: underline;
            opacity: 0.8;
        }

        :focus {
            outline: 4px solid $light-blue;
            outline-offset: 1px;
        }

        .BC-Gov-PrimaryButton:active {
            opacity: 1;
        }
    }
}
