$primary-blue: #036;
$light-blue: #3b99fc;
$grey: #606060;
$white: #fff;

.ui-autocomplete {
    background-color: $white;
    max-width: 300px;
    border: solid $grey 1px;
}

.wp-block-emergency-info-subscribe-form {

    font-family: BCSans, "Noto Sans", Verdana, Arial, sans-serif;

    .region-list {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            margin: 5px;
        }
    }

    /* Form and input styles */
    form {
        font-size: 18px;
    }

    .text_input {
        font-size: 18px;
        height: 34px;
        border: 2px solid $grey;
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 4px;
        padding: 5px 5px 5px 7px;
    }

    .text_input[type="text"]:focus {
        outline: 4px solid $light-blue;
        outline-offset: 1px;
    }

    .text_label {
        display: flex;
    }

    /* Primary button */
    .BC-Gov-PrimaryButton {
        background-color: $primary-blue;
        border: none;
        border-radius: 4px;
        color: $white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .BC-Gov-PrimaryButton:hover {
        text-decoration: underline;
        opacity: 0.8;
    }

    :focus {
        outline: 4px solid $light-blue;
        outline-offset: 1px;
    }

    .BC-Gov-PrimaryButton:active {
        opacity: 1;
    }
}
