$primary-blue: #036;
$light-blue: #3b99fc;
$grey: #606060;
$autocomplete-max-width: 684px;

// BC Design Tokens variables
$white: #fff;
$surface-color-primary-activeBorder: #2e5dd7;
$layout-margin-small: 4px;

@mixin focus-outline {
    outline: 4px solid $light-blue;
    outline-offset: 1px;
}

// jQueryUI debug helper intended to be hidden.
.ui-helper-hidden-accessible {
    display: none;
}

// Block styles.
.wp-block-emergency-info-subscribe-form {

    font-family: BCSans, "Noto Sans", Verdana, Arial, sans-serif;

    .region-autocomplete {
        border: 2px solid $grey;
        height: 61px;
        overflow: hidden;
        border-radius: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: $autocomplete-max-width;
        background-color: var(--wp--preset--color--support-gray-00);

        >* {
            border: none;
        }

        &:focus-within {

            @include focus-outline();
            background-color: $white;

            .geo-icon {
                color: $light-blue;
            }
        }

        #region-autocomplete-input {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
        }

        .form-control:focus {
            box-shadow: none;
        }

        .input-group-text {
            background-color: transparent;

            &:last-child {
                padding: 0 10px 0 0;
            }
        }
    }

    // jQueryUI autocomplete dropdown menu.
    #listbox-wrapper > ul {
        background-color: $white;
        max-height: 250px;
        max-width: $autocomplete-max-width;
        overflow: auto;
        border: solid $grey 1px;
        list-style-type: none;
        padding-left: 0;
        border-radius: $layout-margin-small;

        li {
            cursor: pointer;

            .ui-state-active {
                background-color: $surface-color-primary-activeBorder;
                color: $white;
            }

            >div {
                padding: 0.25rem 0.5rem 0.25rem 0.5rem;
            }
        }
    }

    .region-list {
        list-style: none;
        padding: 0;
        // Offset margins on pills.
        margin-left: -0.5rem;
        margin-right: -0.5rem;

        >li {
            display: inline-flex;
            margin: 0.5rem;

            >.region-pill {
                max-width: 100%;
                border-radius: $layout-margin-small;
                background: $surface-color-primary-activeBorder;
                color: $white;
                padding: 5px 10px 5px 10px;
                font-weight: bold;

                >span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                >button {
                    padding: 5px;
                    display: inline-flex;
                    color: $white;
                    background-color: $surface-color-primary-activeBorder;
                    border: none;

                    &:hover,
                    &:focus {
                        background-color: $primary-blue;
                    }
                }
            }
        }
    }

    /* Form and input styles */
    form {
        font-size: 18px;
    }

    .text_input {
        font-size: 18px;
        height: 34px;
        border: 2px solid $grey;
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 4px;
        padding: 5px 5px 5px 7px;
    }

    .text_input[type="text"]:focus {
        outline: 4px solid $light-blue;
        outline-offset: 1px;
    }

    .text_label {
        display: flex;
    }

    /* Checkbox styles */

    /* Customize the label (the container) */
    .checkbox {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        margin-left: 5px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 18px;
        width: 18px;
        outline: 2px solid $grey;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox input:checked ~ .checkmark {
        background-color: $grey;
    }

    /* Custom checkbox has blue outline when in focus */
    .checkbox input:focus ~ .checkmark {
        outline: 4px solid $light-blue;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark::after {
        content: "\2713";
        color: $white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox input:checked ~ .checkmark::after {
        display: block;
    }

    /* Primary button */
    .BC-Gov-PrimaryButton {
        background-color: $primary-blue;
        border: none;
        border-radius: 4px;
        color: $white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .BC-Gov-PrimaryButton:hover {
        text-decoration: underline;
        opacity: 0.8;
    }

    :focus {

        @include focus-outline();
    }

    .BC-Gov-PrimaryButton:active {
        opacity: 1;
    }
}
