$primary-blue: #036;
$light-blue: #3b99fc;
$grey: #606060;
$autocomplete-max-width: 684px;
$region-group-pill-color: #56566c;
$input-height: 45px;
$section-margin: 21px;

// BC Design Tokens variables
$white: #fff;
$surface-color-primary-activeBorder: #2e5dd7;
$layout-margin-small: 4px;

@mixin focus-outline {
    outline: 4px solid $light-blue;
    outline-offset: 1px;
}

// jQueryUI debug helper intended to be hidden.
.ui-helper-hidden-accessible {
    display: none;
}

// Block styles.
.wp-block-emergency-info-subscribe-form {

    font-family: BCSans, "Noto Sans", Verdana, Arial, sans-serif;

    .get-updates {
        margin-bottom: 12px;
    }

    .all-region-section {
        margin-bottom: 12px;
    }

    .region-autocomplete {
        border: 2px solid $grey;
        height: $input-height;
        overflow: hidden;
        border-radius: 4px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: $autocomplete-max-width;
        background-color: var(--wp--preset--color--support-gray-00);

        >* {
            border: none;
        }

        &:focus-within {

            @include focus-outline();
            background-color: $white;

            .geo-icon {
                color: $light-blue;
            }
        }

        #region-autocomplete-input {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
        }

        .form-control {
            font-size: inherit;

            &:focus {
                box-shadow: none;
            }
        }

        .input-group-text {
            background-color: transparent;

            &:last-child {
                padding: 0 10px 0 0;
            }
        }
    }

    // jQueryUI autocomplete dropdown menu.
    #listbox-wrapper > ul {
        background-color: $white;
        max-height: 250px;
        max-width: $autocomplete-max-width;
        overflow: auto;
        border: solid $grey 1px;
        list-style-type: none;
        padding-left: 0;
        border-radius: $layout-margin-small;

        li {
            cursor: pointer;
            border-bottom: solid 1px var(--wp--preset--color--support-gray-02);

            .ui-state-active {
                background-color: $surface-color-primary-activeBorder;
                color: $white;
            }

            .region-groups {
                padding-top: 0;
                font-size: smaller;
            }

            &:nth-child(odd) {
                background-color: var(--wp--preset--color--support-gray-01);
            }

            >div {
                padding: 0.25rem 0.5rem 0.25rem 0.5rem;
            }
        }
    }

    .region-section {

        margin-top: $section-margin;

        .region-list,
        .region-group-list {
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            // Offset margins on pills.
            margin-left: -0.5rem;
            margin-right: -0.5rem;

            >li {
                display: inline-flex;
                margin: 0.5rem;
            }
        }

        .term-pill {
            display: flex;
            max-width: 100%;
            border-radius: $layout-margin-small;
            color: $white;
            padding: 5px 10px 5px 10px;
            font-weight: bold;
            height: 44px;

            &.region {
                background: $surface-color-primary-activeBorder;
            }

            &.region-group {
                background: $region-group-pill-color;
            }

            >span {
                overflow: hidden;
                text-overflow: ellipsis;
                align-self: center;
            }

            >button {
                padding: 5px;
                display: inline-flex;
                color: $white;
                background-color: $surface-color-primary-activeBorder;
                border: none;
                margin-left: 3px;

                &:hover,
                &:focus {
                    background-color: $primary-blue;
                }
            }
        }
    }

    .email-section {
        margin-top: $section-margin;
        margin-bottom: $section-margin;
    }

    .consent-section {
        margin-bottom: $section-margin;
    }

    /* Form and input styles */
    form {
        font-size: 18px;

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .text_input {
        width: 400px;
        max-width: 100%;
        height: $input-height;
        border: 2px solid $grey;
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 4px;
        padding: 5px 5px 5px 7px;
        background-color: var(--wp--preset--color--support-gray-00);
    }

    .text_input[type="email"]:focus {
        outline: 4px solid $light-blue;
        outline-offset: 1px;
        background-color: $white;
    }

    .text_label {
        display: flex;
    }

    /* Checkbox styles */

    /* Customize the label (the container) */
    .checkbox {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        margin-left: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbox input {
        position: absolute;
        left: 3px;
        height: 25px;
        opacity: 0.01;
        cursor: pointer;
        outline: none;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 18px;
        width: 18px;
        outline: 2px solid $grey;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox input:checked ~ .checkmark {
        background-color: $grey;
    }

    /* Custom checkbox has blue outline when in focus */
    .checkbox input:focus ~ .checkmark {
        outline: 4px solid $light-blue;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark::after {
        content: "\2713";
        color: $white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox input:checked ~ .checkmark::after {
        display: block;
    }

    /* Radio button styles */

    /* Customize the label (the container) */
    .radio {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio button */
    .dot {
        position: absolute;
        top: 4px;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: 2px solid $grey;
    }

    /* When the radio button is checked, add a blue background */
    .radio input:checked ~ .dot {
        background-color: $white;
    }

    /* Custom checkbox has blue outline when in focus */
    .radio input:focus ~ .dot {
        outline: 4px solid $light-blue;
        outline-offset: 1px;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .dot::after {
        content: "";
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $grey;
        transform: translate(-50%, -50%);
    }

    /* Show the indicator (dot/circle) when checked */
    .radio input:checked ~ .dot::after {
        display: block;
    }

    /* Primary button */
    .BC-Gov-PrimaryButton {
        background-color: $primary-blue;
        border: none;
        border-radius: 4px;
        color: $white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .BC-Gov-PrimaryButton:hover {
        text-decoration: underline;
        opacity: 0.8;
    }

    :focus {

        @include focus-outline();
    }

    .BC-Gov-PrimaryButton:active {
        opacity: 1;
    }
}
