.wp-block-emergency-info-post-event-status {

    .status-alert {
        text-align: center;
        color: var(--wp--preset--color--primary-brand);
        background-color: #e0e2e3;
        border-color: var(--wp--preset--color--hazard-inactive);
    }
}
