.wp-block-emergency-info-post-social-share {

    button {
        border-width: 2px;
        border-radius: 50px !important;
        background-color: var(--wp--preset--color--white);

        // Fix for off-center button label.
        i {
            margin-right: 6px !important;
        }
    }

    .dropdown-item {
        padding: 5px;
    }
}
