.wp-block-emergency-info-post-social-share {

    .btn {
        border-width: 2px;
        border-radius: 50px !important;
        background-color: var(--wp--preset--color--white);
    }

    .dropdown-item {
        padding: 5px;
    }
}
